Test/Connected Services/SR/Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfXData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XData" nillable="true" type="tns:XData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXData" nillable="true" type="tns:ArrayOfXData" />
  <xs:complexType name="XData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ownskey" type="xs:boolean" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XData" nillable="true" type="tns:XData" />
</xs:schema>