Test/Connected Services/SR_Core/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCore" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Shared" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCore_AddDataToRepo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataToRepo" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_AddDataToRepo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataToRepoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_GetAvailableRepos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableRepos" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_GetAvailableRepos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableReposResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_GetAvailableTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTypes" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_GetAvailableTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_GetDataFromRepo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromRepo" />
  </wsdl:message>
  <wsdl:message name="IServiceCore_GetDataFromRepo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromRepoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCore">
    <wsdl:operation name="AddDataToRepo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCore/AddDataToRepo" message="tns:IServiceCore_AddDataToRepo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCore/AddDataToRepoResponse" message="tns:IServiceCore_AddDataToRepo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRepos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCore/GetAvailableRepos" message="tns:IServiceCore_GetAvailableRepos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCore/GetAvailableReposResponse" message="tns:IServiceCore_GetAvailableRepos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCore/GetAvailableTypes" message="tns:IServiceCore_GetAvailableTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCore/GetAvailableTypesResponse" message="tns:IServiceCore_GetAvailableTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFromRepo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCore/GetDataFromRepo" message="tns:IServiceCore_GetDataFromRepo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCore/GetDataFromRepoResponse" message="tns:IServiceCore_GetDataFromRepo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="http" type="tns:IServiceCore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataToRepo">
      <soap:operation soapAction="http://tempuri.org/IServiceCore/AddDataToRepo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRepos">
      <soap:operation soapAction="http://tempuri.org/IServiceCore/GetAvailableRepos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTypes">
      <soap:operation soapAction="http://tempuri.org/IServiceCore/GetAvailableTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataFromRepo">
      <soap:operation soapAction="http://tempuri.org/IServiceCore/GetDataFromRepo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCore">
    <wsdl:port name="http" binding="tns:http">
      <soap:address location="http://localhost:8734/ServiceCore/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>